.mensagens-container {
    margin-top: 3em;
    display: flex;
    color: blue;
}

.button-pesquisar {
    margin-right: 1em;
    color: blue !important;
    border: 1px solid black !important;
    margin-left: auto;
    background-color: white !important;
}

.button-mensagem{
    background-color: blue;
}